@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 15px;
}

body{
    background-image: url("images/bg-pattern-top-mobile.svg"), url("images/bg-pattern-bottom-mobile.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: top left , bottom right;
    background-size: 100%;
    font-family: 'League Spartan', sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.top-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading{
    text-align: center;
}


.heading h1{
    color:  hsl(300, 43%, 22%);
    font-size: 3rem;
    font-weight: 700;
    padding: 3rem;
    margin-top: 4rem;
}

.heading p{
    color: hsl(303, 10%, 53%);
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0 3rem;
    line-height: 1.9rem;
    margin-top: -1.4rem;
}

.fragments{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frag-1, .frag-2, .frag-3{
    background:  hsl(300, 24%, 96%);
    width: 80%;
    border-radius: 0.5rem;
    margin: 0.7rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frag-1 h2, .frag-2 h2, .frag-3 h2{
    color: hsl(300, 43%, 22%);
    font-size: 1.4rem;
    font-weight: 700;
    margin: 1.2rem;
}

.frag-1 img, .frag-2 img, .frag-3 img{
    margin-top: 1.2rem;
}

.image-star img{
    height: 1.3rem;
    width: 1.3rem;
    margin-left: 0.5rem;

}

.bottom-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.person-1, .person-2, .person-3{
    width: 80%;
    background:   hsl(300, 43%, 22%);
    border-radius: 0.5rem;
    color:  hsl(0, 0%, 100%);
    margin: 0.7rem 0;
}

.person-1, .frag-1{
    margin-top: 3rem;
}


.person-1 img, .person-2 img, .person-3 img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem 0 1rem 2.5rem;

}

.about{
   margin-left: 1.8rem;
   line-height: 1.7rem;
} 

.about h3{
    color:  hsl(300, 24%, 96%);
    font-size: 1.4rem;
    font-weight: 700;
}

.about{
    font-size: 1.4rem;
    font-weight: 400;
    color: hsl(333, 80%, 67%);

}

.desc{
    padding: 1rem 3.2rem 2.3rem 2.6rem;
    font-size: 1.275rem;
    font-weight: 500;
    line-height: 1.8rem;
}

.attribution{
    font-size: 1rem;
    text-align: center;
    font-weight: 700;
    margin: 1rem;

}

.attribution a{
    text-decoration: none;
    color: hsl(228, 45%, 44%);
}

@media (min-width: 1200px) {
    body {
        background-image: url("images/bg-pattern-top-desktop.svg"), url("images/bg-pattern-bottom-desktop.svg");
        background-repeat: no-repeat, no-repeat;
        background-position: top left -20vh, bottom right 10vh;
        background-size: 50%, 75%;
    }

    .top-section{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .heading{
        width: 30rem;
        text-align: left;
        margin: -11rem 10rem 0 -1rem;
    }

    .heading h1{
        font-size: 3.4rem;
    }

   .heading p{
    width: 40rem;
    font-size: 1.4rem;
   }

   .frag-1, .frag-2, .frag-3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 3.5rem;
    width: 27rem;
   }

   .image-star img{
    width: 1rem;
    height: 1rem;
    margin: 0.4rem 0 0 0.3rem;
   }

   .star-2{
    margin-left: 0.8rem;
   }

   .fragments h2{
    font-size: 1rem;
    margin-right: 4rem;
   }

   .frag-2 h2{
    margin-left: 1.9rem;
   }

   .frag-2{
    margin-left: 5rem;
   }

   .frag-3{
    margin-left: 10rem;
   }

   .fragments{
    margin-top: -5rem;
   }

   .bottom-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   }

   .person-1, .person-2, .person-3{
    width: 23.5rem;
    margin: 4rem 0 2rem 2rem;
   }

   .desc p{
    font-size: 1rem;
   }

   .person-2{
    margin-bottom: 0rem;
   }

   .person-3{
    margin-bottom: -2rem;
   }
 }